body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

div {
    background-color: white;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

p {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    display: block;
    margin: 10px auto;
}
